<h1>Convert <%= @the_symbol %></h1>
<p>Go<a href="/">back</a>.</p>          
<ul>
<% currencies.keys.each do |symbol| %>
<li><a href="/<%= @the_symbol%>/<%= symbol%>">Convert 1 of <%=@the_symbol%><%=symbol%>...</a></li>
</ul>>
